.Xauthority
.azure/
.bash*
.cache/
.config/
.lesshst
.local/
.packer.d/
.profile
.ssh/
.terraform.d/
.terraform.lock.hcl
.terraform/
.viminfo
.wget-hsts
azure/
hcloud
terraform.tfstate*
.vault-token
.selected_editor
